<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="author" content="Sabart Otto; seberm@gmail.com - www.seberm.com" />
		<meta name="generator" content="Vim" />
		<meta name="robots" content="noindex, nofollow" />
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/admin.css" />
		<script type="text/javascript" src="{$basePath}/javascripts/jquery.min.js"></script>
	    <script type="text/javascript" src="{$basePath}/javascripts/netteForms.js"></script>
	    <script type="text/javascript" src="{$basePath}/javascripts/admin.js"></script>
		<title>BulkSMTPMailer - {_'Administration'} | {$moduleName}</title>
	</head>

<body>
<div id="mainContainer">
	<div id="header"></div>
	<div id="menu">
        {if $user->isLoggedIn()}
		<span class="menuItem"><a href="{plink Main:}">{_'Home'}</a></span>
		<span class="menuItem"><hr /></span>
		<span class="menuItem"><a href="{plink BulkAdmin:}">{_'Bulk administration'}</a></span>
		<span class="menuItem"><a href="{plink SystemManager:}">{_'System manager'}</a></span>
		<span class="menuItem"><hr /></span>
		<span class="menuItem"><a href="{plink MailsManager:}">{_'E-mails manager'}</a></span>
		<span class="menuItem"><a href="{plink MessagesManager:}">{_'Messages manager'}</a></span>
		<span class="menuItem"><hr /></span>
        <span class="menuItem"><a href="{plink Logout!}">{_'Logout'}</a></span>
		<span class="menuItem"><hr /><br /></span>
        {/if}
		<span class="menuItem"><a href="{plink CronScript!}" target="_blank"><b>{_'CRON Script'}</b></a></span>
	</div>
	<div id="content">
		<h1>{$moduleName}</h1>

        {foreach $flashes as $flash}
            <div class="message-{$flash->type}">{$flash->message}</div>
        {/foreach}
		<div id="moduleContent">
        
            {include #content}
        
        </div>
	</div>
	<div id="footer">{_'Powered by'} <a href="http://www.seberm.com">BulkSMTPMailer</a><div>
</div>
</body>
</html>
